

<div  class="url-container">
  <img class="logo" src="assets/logo.png" alt="logo" />

      <input  class="input" placeholder="enter your url" [(ngModel)]="urlModel.url"/>

  <div>specify time</div>
  <div>
    <select class="select" [ngModel]="urlModel.expiration?.unit" (ngModelChange)="getType($event)">
      <option selected>choose unit</option>
      <option>hours</option>
      <option>days</option>
    </select>
    <input class="number" type="number" min="0" *ngIf="urlModel.expiration" [(ngModel)]="urlModel.expiration.amount"
           (ngModelChange)=
      "getAmount($event)">
  </div>
  <div class="button-container">
    <button class="button" mat-flat-button color="warn" (click)="addUrl()">create</button>
  </div>
<!--  todo make red or more warning-->
  <div class="error-msg"> {{errorMessage}}</div>
  <div class="short-url-container">
    <p class="short-url" *ngIf="shortenedUrl">
      {{ shortenedUrl.url }}
      <button class="button" mat-icon-button (click)="copyToClipboard(shortenedUrl.url)"><img class="img-clpb"
                                                                                              src="/assets/clipboard.png" alt="aa">
      </button>
    </p>
<!--    todo make copy toaster-->
  </div>
  <div *ngIf="shortenedUrl?.expires">
    <p>valid until {{shortenedUrl?.expires}}</p>
  </div>
</div>

