<h1 class="title">{{title}}</h1>

<div>
  <div>
    <input [(ngModel)]="urlModel.url" placeholder="your url here"/>

  </div>
  <div>specify time</div>
  <div>
    <select [ngModel]="urlModel.expiration?.unit" (ngModelChange)="getType($event)">
      <option [ngValue]=undefined disabled selected>choose unit</option>
      <option>hours</option>
      <option>days</option>
    </select>
    <input type="number" min="0" *ngIf="urlModel.expiration" [(ngModel)]="urlModel.expiration.amount" (ngModelChange)=
      "getAmount($event)">
  </div>
  <div>
    <button (click)="addUrl()">create</button>
  </div>
  <div> {{errorMessage}}</div>
  <div>
    <p *ngIf="shortenedUrl">{{ shortenedUrl.url }}</p>
  </div>
  <div>
    <p>{{shortenedUrl?.expires}}</p>
  </div>
</div>

