

<div  class="url-container">
  <img class="logo" src="assets/logo.png" alt="logo" />

      <input  class="input" placeholder="enter your url" [(ngModel)]="urlModel.url"/>

  <div>specify time</div>
  <div>
    <select class="select" [ngModel]="urlModel.expiration?.unit" (ngModelChange)="getType($event)">
      <option selected>choose unit</option>
      <option>hours</option>
      <option>days</option>
    </select>
    <input class="number" type="number" min="0" *ngIf="urlModel.expiration" [(ngModel)]="urlModel.expiration.amount"
           (ngModelChange)=
      "getAmount($event)">
  </div>
  <div>
    <button class="button" mat-flat-button color="warn" (click)="addUrl()">create</button>
  </div>
  <div> {{errorMessage}}</div>
  <div>
    <p *ngIf="shortenedUrl">{{ shortenedUrl.url }}</p>
  </div>
  <div>
    <p>{{shortenedUrl?.expires}}</p>
  </div>
</div>

