/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: rgb(201, 197, 190) ;
  background-color: black;display: flex; justify-content: center;}

.button {
  background-color: #292F38;
  color: rgb(201, 197, 190)
}

.url-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  min-height: 100px;
  gap: 10px;
  flex-direction: column;
}


.input {
  color: rgb(201, 197, 190);
  background-color: #1F1B29;
  min-width: 400px;
  padding: 12px 14px 12px 12px;
  gap: 10px;
  border-radius: 5px;
  border: none;
}
.select {
  color: rgb(201, 197, 190);
  background-color: #1F1B29;
  padding: 5px 10px 10px 8px;
  gap: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.number {
  color: rgb(201, 197, 190);
  background-color: #1F1B29;
  padding: 5px 10px 10px 8px;
  gap: 10px;
  border-radius: 5px;
  border: none;
}

.short-url-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short-url {
  color: rgb(201, 197, 190);
  background-color: #1F1B29;
  padding: 5px 10px;
  gap: 10px;
  border-radius: 5px;
  border: none;
  margin: 0;
}

.img-clpb {
  max-width: 24px;
  max-height: 24px;
}

.error-msg {
  color: crimson;

}
